name: Update profile
on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  "00 03 * * *"
    # Everyday at 03:00 am

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v6

    - name: Set up Python
      uses: astral-sh/setup-uv@v7

    - name: Update README
      env:
        GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
      run: uv run --frozen build_readme.py

    - name: Commit and push if changed
      run: |
        git diff
        git config --global user.email "actions@users.noreply.github.com"
        git config --global user.name "README-bot"
        git add -A
        git commit -m "Update README content" || exit 0
        git push
